<script>
    /*
      performOnElementAvailable allows us to find an element by name, and set it to a specific value.
      querySelector will often fail because it runs before the page has finished loading.
      This function will set the content immediately if the element is available and if not,
      wait for the page to finish loading and then attempt to set again.
    */
    function performOnElementAvailable(elementName, value, action) {
        let element = document.querySelector(elementName)
        if (element) {
            action(element, value);
        } else {
            document.addEventListener("DOMContentLoaded", function () {
                let element = document.querySelector(elementName)
                action(element, value);
            });
        }
    }

    //setElement sets the innerHTML of the specified element to the value.
    function setElement(elementName, value) {
        performOnElementAvailable(elementName, value, function (element, value) {
            element.innerHTML = value;
        })
    }

    /* appendElement appends the specified value to the element with name elementName*/
    function appendElement(elementName, value) {
        performOnElementAvailable(elementName, value, function (element, value) {
            element.append(value);
        })
    }
</script>

<script>
    //getSummary returns the first 80 words of the provided article
    function getSummary(article) {
        let summary = article.split(" ");
        summary = summary.slice(0, 80);
        summary = summary.join(" ");
        summary += "...";
        return summary;
    }

    //getDate takes an RFC3339 date and returns a JavaScript date string from it
    function getDate(isoDate) {
        return new Date(Date.parse(isoDate)).toDateString();
    }
</script>

<script src="{{ "js/rss-parser.min.js" | absURL }}"></script>

<script>
    //Note: to debug locally, CORS Proxy must be set and the FEED_URL must be set to a full URL
    //See: https://github.com/bobby-brennan/rss-parser
    const FEED_URL = '/blog/sources/rhdevel/category/service-mesh/feed/atom/'

    let parser = new RSSParser();
    parser.parseURL(FEED_URL, function (err, feed) {
        if (!feed || feed.items.length == 0) {
            return
        }
        feed.items.forEach(function (entry) {
            let newChild = document.createElement('div');
            let link = entry.title.split(' ').join(''); //trim spaces from title so we can include it in the URL
            newChild.innerHTML = "<article class=\"post\"> \
            <header> \
                            <div class=\"title\"> \
                                    <h1><a href=post/#" + link + ">" + entry.title + "</a></h1> \
                            </div> \
                            <div class=\"meta\"> \
                                    " + getDate(entry.isoDate) + " \
                                <span class=\"author\"> " + entry.author + " </span> \
                            </div> \
                        </header>" +
                "<div id=\"article_{index}_part\" style=\"display: block\"> \
                            " + getSummary(entry.content) + " \
                        </div>" +
                "<footer>" +
                "<ul class=\"actions\"> \
                            <li><a href=post/#" + link + " class=\"button big\">Continue Reading</a></li> \
                          </ul> \
                        </footer> </article>";


            appendElement("#rss-feeds", newChild);
        })
    })

</script>

{{ partial "header.html" . }}
<!-- Main -->
<div id="main">
    <div id="rss-feeds"></div>
</div>
{{ partial "footer.html" . }}