 {{ partial "header" . }}
<script>
    //getSummary returns the first 80 words of the provided article
    function getSummary(article) {
        let summary = article.split(" ");
        summary = summary.slice(0, 80);
        summary = summary.join(" ");
        summary += "...";
        return summary;
    }

    //getDate takes an RFC3339 date and returns a JavaScript date string from it
    function getDate(isoDate) {
        return new Date(Date.parse(isoDate)).toDateString();
    }
</script>

<script src="{{ "js/rss-parser.js" | absURL }}"></script>

<script>
    //Note: to debug locally, CORS Proxy must be set and the FEED_URL must be set to a full URL
    //See: https://github.com/bobby-brennan/rss-parser
    function addFeed(FEED_URL) {
        let parser = new RSSParser();
        parser.parseURL(FEED_URL, function (err, feed) {
            if (!feed || feed.items.length == 0) {
                return
            }
            console.log(FEED_URL, ":", feed)
            feed.items.forEach(function (entry) {
                let newChild = document.createElement('div');
                let link = entry.content?entry.title.split(' ').join(''):entry.link; //trim spaces from title so we can include it in the URL
                let summary = entry.summary?entry.summary:getSummary(entry.content)
                let date = getDate(entry.isoDate);
                newChild.innerHTML = "<article class=\"post\" data-date=\"" + date + "\"> \
                        <header> \
                            <div class=\"title\"> \
                                    <h1><a href=post/#" + link + ">" + entry.title + "</a></h1> \
                            </div> \
                            <div class=\"meta\"> \
                                    " + date + " \
                                <span class=\"author\"> " + entry.author + " </span> \
                            </div> \
                        </header>" +
                    "<div id=\"article_{index}_part\" style=\"display: block\"> \
                            " + summary + " \
                        </div>" +
                    "<footer>" +
                    "<ul class=\"actions\"> \
                            <li><a href=post/#" + link + " class=\"button big\">Continue Reading</a></li> \
                          </ul> \
                        </footer> </article>";
                appendElement("#rss-feeds", newChild, date);
            })
        })
    }
    const RH_FEED_URL = '/blog/sources/rhdevel/category/service-mesh/feed/atom/'
    const OS_FEED_URL = '/blog/sources/openshift/tag/istio/feed/atom/'

    addFeed(RH_FEED_URL);
    addFeed(OS_FEED_URL);
</script>

<!-- Main -->
<div id="main">
    <div id="rss-feeds"></div>
</div>
{{ partial "footer" . }}
