<div class="component community-contributions-band text-centered">
  <div class="grid-wrapper">
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-project.png">
      <h4>An Open Project</h4>
      <p>Maistra is a 100% open source project, under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache Public License 2.0</a>. Not only is the code open source, free to use and free to modify, the development process is also open. </p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-github.png">
      <h4>Code and Issue Tracker</h4>
      <p>The source code is hosted on <a href="{{ github_fork_url }}" target="_blank">GitHub</a>. If you need to report a bug or request a new feature, look for a similar one on our <a href="https://issues.jboss.org/projects/MAISTRA" target="_blank">JIRA issues tracker</a>. If you don’t find any, <a href="https://issues.jboss.org/projects/MAISTRA" target="_blank">create a new issue</a>.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-stackoverflow.png">
      <h4>StackOverflow</h4>
      <p>If you have questions, are experiencing a bug or want advice on using Maistra, you can use <a href="https://stackoverflow.com/questions/tagged/?tagnames=maistra&sort=newest" target="_blank">StackOverflow</a>. We will do our best to answer you as soon as we can.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-ettiquete.png">
      <h4>Ettiquette</h4>
      <p>If you are asking for help, have you read through the <a href="{{site.baseurl}}/documentation" target="_blank">documentation</a> first? You may find your answer there.<br/><br/>Also, if you are reporting a bug, have you checked our <a href="https://issues.jboss.org/projects/MAISTRA" target="_blank">bug tracker</a> first? It may be a known issue.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-twitter.png">
      <h4>Follow Maistra on Twitter</h4>
      <p>Most of our updates go out on <a href="https://twitter.com/{{ twitter_username }}" target="_blank">Twitter</a>. Sometimes our project team speaks at industry events, and sometimes they post cool ways people use Maistra. Wash, rinse, and retweet.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-contactus.png">
      <h4>Chat with us</h4>
      <p>The Maistra community uses <a href="https://zulipchat.com/" target="_blank">Zulip</a> for real-time communications. Join us using either a web-browser or a <a href="#" target="_blank">dedicated application</a> on the <a href="#" target="_blank">Maistra chat</a>.</p>
    </div>
  </div>
</div>
