<div class="component documentation-links-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-get-started.png">
      <h4>Get Started</h4>
      <ul class="chevron darkred"> 
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Quick Start</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Creating Projects</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Getting Started Tutorial</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-admin.png">
      <h4>Admin</h4>
      <ul class="chevron darkred">
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-developers.png">
      <h4>Developers</h4>
      <ul class="chevron darkred">
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-cloud.png">
      <h4>Cloud</h4>
      <ul class="chevron darkred">
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/toc_pages/index.html">Title of Relevant Doc</a>
        </li>
      </ul>
    </div>
  </div>
  <div><h6>This documentation is for Version: 1.2.3.4, but you can still get docs for earlier versions.</h6></div>
</div>