<div class="component documentation-contactus-band full-width-bg padding-tb-lg gray-bg">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">Got an improvement to the source code or want to write some docs?</h4>
      <i class="fab fa-github text-darkred"></i> <a href="https://github.com/maistra/maistra.github.io" target="_blank">Review the Guide and submit a PR</a>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">Chat with us, report issues, suggest changes, or ask questions.</h4>
      <i class="fas fa-comments text-darkred"></i> <a href="{{site.baseurl}}/community" target="_blank">Join the Community</a>
    </div>
  </div>
</div>