<div class="component homepage-features-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Main Features</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-6-12-m contrib-block">
      <i class="fa fa-camera fa-5x"></i>
      <h4>Feature Title #1</h4>
      <p>This is a short sentence to show how the expanded feature content would work.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <i class="fa fa-magnet fa-5x"></i>
      <h4>Feature Title #2</h4>
      <p>This is a short sentence to show how the expanded feature content would work.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <i class="fa fa-magic fa-5x"></i>
      <h4>Feature Title #3</h4>
      <p>This is a short sentence to show how the expanded feature content would work.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <i class="fa fa-rocket fa-5x"></i>
      <h4>Feature Title #4</h4>
      <p>This is a short sentence to show how the expanded feature content would work.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <i class="fa fa-cloud fa-5x"></i>
      <h4>Feature Title #5</h4>
      <p>This is a short sentence to show how the expanded feature content would work.</p>
    </div>
  </div>
</div>