<div class="component homepage-hero-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h1>What is Maistra?</h1>
      <p>Maistra is an opinionated distribution of Istio designed to work with Openshift. It combines Kiali, Jaeger, and Prometheus into a platform managed according to the OperatorHub lifecycle.</p>
      <div class="ctas margin-tb-lg">
        <a href="{{site.baseurl}}/get-started" class="button-cta primary">Get Started Now</a>
      </div>
    </div>
  </div>
</div>