<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Quickstarts</h3>
      <p>Quickstarts are self-contained, fully-fledged applications based on Infinispan which are ready-to-run. They showcase Infinispan in the context of more complex applications such as JavaEE deployments.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/carmart/">CarMart</a>
      <p class="margin-tb-0">a basic Infinispan example</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/carmart-tx/">CarMart-TX</a>
      <p class="margin-tb-0">a basic Infinspan example with JTA transactions</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/helloworld-jdg/">HelloWorld-JDG</a>
      <p class="margin-tb-0">another basic Infinispan example</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/hotrod-endpoint/">HotRod-Endpoint</a>
      <p class="margin-tb-0">using Infinispan remotely via the Hot Rod protocol</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/memcached-endpoint/">Memcached-Endpoint</a>
      <p class="margin-tb-0">using Infinispan remotely via the Memcached protocol</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/rest-endpoint/">REST-Endpoint</a>
      <p class="margin-tb-0">using Infinispan remotely over REST</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/remote-query/index.html">Remote query</a>
      <p class="margin-tb-0">using Infinispan queries remotely over Hot Rod</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="http://www.jboss.org/quickstarts/datagrid/fff/">OpenShift Operator</a>
      <p class="margin-tb-0">Run Infinispan with OpenShift Operator</p>
    </div>
  </div>
</div>