<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Examples</h3>
      <p class="margin-tb-0">Very simple, straight-to-the-point, code examples of specific Infinispan features and integrations. All of these are part of the <a href="https://github.com/infinispan/infinispan-simple-tutorials/" target="_blank" >Infinispan Simple Tutorials GitHub project</a>.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/map/">Map</a>
      <p class="margin-tb-0">Using a cache with the map-based API</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/tx/">Transactions</a>
      <p class="margin-tb-0">Using a cache with transactions</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/jcache/">JCache</a>
      <p class="margin-tb-0">Using a cache with the JCache API</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/functional/">Functional</a>
      <p class="margin-tb-0">Using a cache with the functional lambda-based API</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/remote/">Remote</a>
      <p class="margin-tb-0">Access a remote cache using the HotRod protocol</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/spring/">Spring</a>
      <p class="margin-tb-0">Bootstrap Infinispan using Spring</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/openshift/">OpenShift/Kubernetes</a>
      <p class="margin-tb-0">Run Infinispan with OpenShift v3 or Kubernetes</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/operator/">OpenShift Operator</a>
      <p class="margin-tb-0">Run Infinispan with OpenShift Operator</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/cplusplus/">C++</a>
      <p class="margin-tb-0">Access a remote cache using the HotRod protocol in C++</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/csharp/">C#</a>
      <p class="margin-tb-0">Access a remote cache using the HotRod protocol in C#</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/javascript/">Javascript</a>
      <p class="margin-tb-0">Access a remote cache using the HotRod protocol in Javascript</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/replicated/">Replicated</a>
      <p class="margin-tb-0">Using a replicated cache</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/distributed/">Distributed</a>
      <p class="margin-tb-0">Using a distributed cache</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/listen/">Listen (embedded)</a>
      <p class="margin-tb-0">Detect when data changes in an embedded cache</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/remote-listen/">Listen (remote)</a>
      <p class="margin-tb-0">Detect when data changes in a remote cache</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/query/">Query</a>
      <p class="margin-tb-0">Querying a cache</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/scripting/">Remote Scripting</a>
      <p class="margin-tb-0">Execute scripts on an Infinispan Server from a HotRod client</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/streams/">Streams</a>
      <p class="margin-tb-0">Use the Java Streams API to perform operations on the data</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/distexec/">Distributed Execution</a>
      <p class="margin-tb-0">Run code concurrently on all nodes in the cluster</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/clusterexec/">Cluster Executor</a>
      <p class="margin-tb-0">Run code concurrently on all nodes in the cluster, using a ClusterExecutor which doesn't require a cache.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/spark/">Integration with Apache Spark</a>
      <p class="margin-tb-0">Run Apache Spark jobs on data stored within Infinispan</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/counter/">Clustered Counter</a>
      <p class="margin-tb-0">Using a clustered counter with Infinispan</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-local/">Hibernate Cache Standalone</a>
      <p class="margin-tb-0">Using Infinispan as Hibernate Cache provider in a single-node standalone application.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-spring-local/">Hibernate Cache Spring</a>
      <p class="margin-tb-0">Using Infinispan as Hibernate Cache provider in a single-node Spring application.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-wildfly-local/">Hibernate Cache WildFly</a>
      <p class="margin-tb-0">Using Infinispan as Hibernate Cache provider in a single-node WildFly application.</p>
    </div>
  </div>
</div>