<!-- highlight.js -->
{{ $highVer := .Site.Params.highlightjsVersion }}
{{ $highCDN := (.Site.Params.highlightjsCDN | default "//cdn.bootcss.com") }}
<script src="{{ "js/highlight.min.js" | absURL}}"></script>
<link rel="stylesheet" href="{{ "css/solarized-light.min.css" | absURL}}">

{{ range .Site.Params.highlightLanguages }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $highVer }}/languages/{{ . }}.min.js"></script> 
{{ end }}

<script>hljs.initHighlightingOnLoad();</script>


<!-- custom -->
{{ range .Site.Params.js }}
<script src="{{ . | absURL }}"></script> {{ end }}


<!-- bootstrap -->
<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<script>
    /*
      performOnElementAvailable allows us to find an element by name, and set it to a specific value.
      querySelector will often fail because it runs before the page has finished loading.
      This function will set the content immediately if the element is available and if not,
      wait for the page to finish loading and then attempt to set again.
    */
    function performOnElementAvailable(elementName, value, action) {
        let element = document.querySelector(elementName)
        if (element) {
            action(element, value);
        } else {
            document.addEventListener("DOMContentLoaded", function () {
                let element = document.querySelector(elementName)
                action(element, value);
            });
        }
    }

    //setElement sets the innerHTML of the specified element to value.
    function setElement(elementName, value) {
        performOnElementAvailable(elementName, value, function (element, value) {
            element.innerHTML = value;
        })
    }

    /* appendElement appends the specified value to the element with name elementName*/
    function appendElement(elementName, value) {
        performOnElementAvailable(elementName, value, function (element, value) {
//            console.log("Element: ", element.childNodes)
            
            if(element.childNodes && element.childNodes.length) {
                element.childNodes.forEach(function (entry) {
                    console.log("Element:", element)
                    if (entry.firstChild) {
                        console.log(entry.firstChild)
                        publishDate = firstChild.getAttribute("data-date")
                        if(publishDate) {
                            console.log("Publish date:", publishDate)
                        }
                    } else {
                        console.log("Firstchild does not exist")
                    }
                });
            } else {
                element.append(value);
            }
        })
    }
</script>
