// PROJECT color palette

$darkblue : #0377be;
$medblue : #009DD9;
$lightblue : #b6dbf1;
$red : #f10344;
$darkred : #a6032d;

//Grayscale
$gray-0 : #EFEFEF;
$gray-1 : #DCDCDC;
$gray-2 : #626262;
$gray-3 : #4c4c4c;
$gray-4 : #2A2A2A;

// Alternative spelling
$grey-0 : #EFEFEF;
$grey-1 : #DCDCDC;
$grey-2 : #626262;
$grey-3 : #4c4c4c;
$grey-4 : #2A2A2A;


$text-base-color: #2A2A2A;

$link : #0067c5;
$link-hover : #551A8B;
$link-visited : #551A8B;

$link-dark-bg : #98D5E7;
$link-visited-dark-bg : #98D5E7;
$link-hover-dark-bg : #E49EFF;