{{ partial "header" . }}
<div class="row">
    <div class="col-2 d-none d-md-block">

        {{ $categories := (slice "Getting started" "Examples" "Monitoring & Tracing")}}
        {{ $.Scratch.Set "recentPosts" .Site.Pages }} 
        {{ $pages := where ($.Scratch.Get "recentPosts") "Type" "document" }} 
        {{ $categorized := $pages.GroupByParam "category" }}
        {{ range $element := $categories }} 
        {{ range where $categorized "Key" $element }}
        <div class="card border mb-3">
            <div class="card-header">
                {{ .Key }}
            </div>
            <ul class="list-group list-group-flush">
                {{ range .Pages }}
                <a href="{{ .RelPermalink }}" class="btn btn-light list-group-item" style="white-space: normal;">{{.Title}}</a>
                {{ end }}
            </ul>
        </div>

        {{ end }}
        {{ end }}

    </div>
    <div class="col-10">
        <!-- Main -->
        <div id="main">

            <article class="post">
                {{ $.Scratch.Set "h1" true }} {{ .Render "content-single" }}
            </article>
        </div>
    </div>
</div>
{{ partial "footer" . }}