.recent-posts-band {
  background-color: $white !important;

  .block-item {
    background-color: $white;
    border: 1px solid $medblue;
    padding: 2rem;
    margin: .5rem 0;

    h6 > a {
      font-family: inherit;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
