.get-started {

  h2.step {
    margin-top: 4rem;
  }

  .step-no {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
  }

  ol {
    padding-left: 16px;
  }

}
