---
layout: base
---

<div class="grid-wrapper">
  <div class="grid__item width-12-12">
    <h1 class="title text-caps">Tagged posts: '{{ page.title }}'</h1>
  </div>

  <div class="grid__item width-10-12 width-12-12-m">
  <ul class="posts">
    {% for post in page.posts %}
      <li>
        <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
        <div>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  </div>

  <div class="grid__item width-2-12 side-nav">
    <a href="{{site.baseurl}}/feed.xml"><i class="fas fa-rss-square"></i></a>
    <h5 class="margin-tb-sm">Tags</h5>
    {% include most-popular-tags.html %}
  </div>
</div>

